#sec1 {
    background-color: #1F2937;
    color: #FAF9F8;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

#sec1-header {
    background-color: #1F2937;
    color: #FAF9F8;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 150px;
}

#header-links {
    font-size: 18px;
    color: #99999b;;
    display: flex;
    justify-content: space-evenly;
    margin-right: 150px;
    gap: 25px;
}

#sec1-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

#sec1-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    margin-left: 150px;
    gap: 5px;
}

#main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#sub-text {
    font-size: 18px;
    color: #99999b;;
}

#sec1-btn {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}

#sec1-img {
    margin-right: 150px;
}

.sec1-left-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

#sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#sec2-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

#rand-info-title {
    color: #1F2937;
    font-size: 36px;
    font-style: bold;
    margin-top: 40px;
}

.sec2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sec2-text {
    font-size: 18px;
    color: #99999b;
}

.sec2-empty-square {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

#sec3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
}

#sec3-quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
#sec3-quote-author {
    align-self: flex-end;
}